fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
databases[aiosqlite]
databases[asyncpg]
python-dotenv
pydantic-settings
rich
asgi-correlation-id
python-json-logger
python-jose
python-multipart
passlib[bcrypt]
httpx
aiofiles
b2sdk
sentry-sdk[fastapi]
pydantic[email]